<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'About'}) %>

<body>
    <%- include('../partials/loader.ejs', {}) %>

    <%- include('../partials/header.ejs', {pageName: 'about'}) %>

    <div class="main-content">  
            <h1 class="big-title text-center" style="margin-bottom: 40px;">About Us</h1>
        <!-- Media Box -->
		<div class="inner-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-xl-4">
						<div class="">
							<img src="img/single-img-01.jpg" alt="IMG">
						</div>
					</div>

					<div class="col-lg-7 col-xl-8">
						<div class="text-sec">
							<h3 class="">
								<strong>Our Mission</strong>
							</h3>

							<div class="content-sec hun-content-default">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non auctor massa ultrices non. Morbi sed odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas varius egestas diam, eu sodales metus scelerisque congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum eget, dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec augue. Suspendisse potenti. Proin ut est diam. Donec condimentum euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.
								</p>

								<p>
									Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla turpis in vehicula vehicula. Pellentesque congue ac orci ut gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac ligula.
								</p>

								<p>
									Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac ligula.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        


        <div class="features-section">
                <div class="container">
                    <h2 class="subtitle">WHY CHOOSE US</h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="feature-box">
                                <img class="lozad" data-src="img/free-delivery.png" alt="Freepik">

                                <div class="feature-box-content">
                                    <h3>Free Shipping</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr in some form.</p>
                                </div><!-- End .feature-box-content -->
                            </div><!-- End .feature-box -->
                        </div><!-- End .col-lg-4 -->
                        
                        <div class="col-lg-4">
                            <div class="feature-box">
                                <img class="lozad" data-src="img/money-back.png" alt="Surang">

                                <div class="feature-box-content">
                                    <h3>100% Money Back Guarantee</h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div><!-- End .feature-box-content -->
                            </div><!-- End .feature-box -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-lg-4">
                            <div class="feature-box">
                                <img class="lozad" data-src="img/support.png" alt="Freepik">

                                <div class="feature-box-content">
                                    <h3>Online Support 24/7</h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div><!-- End .feature-box-content -->
                            </div><!-- End .feature-box -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div>




    
    
    
    </div>
    
    
    <%- include('../partials/footer.ejs', {}) %>
    <%- include('../partials/script.ejs', {}) %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>