<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs', {}) %>

<body>
    <%- include('../partials/loader.ejs', {}) %>
    <!-- header -->
    <%- include('../partials/header.ejs', {}) %>
    <!-- /header -->

    <!-- Breadcrumb Section Begin -->
    <%#- include('../partials/breadCrumbs.ejs', { pageName }) %>

    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th class="p-name">Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th><i class="ti-close"></i></th>
                                </tr>
                            </thead>
                            <%if (cart == undefined) { %>
                            <tbody>
                                <tr>

                                    <td> YOU DONT HAVE ANYTHING HERE
                                        <a href="/shop">add</a>
                                        SOMETHING
                                    </td>
                                    <td> nothing </td>
                                    <td> here</td>
                                    <td> please </td>
                                    <td>
                                        <a href="/shop">add</a>
                                    </td>

                                </tr>

                            </tbody>
                            <% }else { %>
                            <tbody>
                                <form action="/postcart" method="post">

                                    <% for (let i = 0; i < cart.length; i++) { %>
                                    <tr>
                                        <td class="cart-pic first-row"><img src=" <%= cart[i].productImage1%>" alt="">
                                        </td>
                                        <td class="cart-title first-row">
                                            <h5> <%= cart[i].productName %> </h5>
                                        </td>
                                        <td class="p-price first-row" id="price"> #<%= cart[i].productPrice %> </td>
                                        <td class="qua-col first-row">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" id='quantity' class="quantity" name='quantity'
                                                        value="<%= priceDetails[i].qty %>" disabled>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="total-price first-row total">
                                            #<%= priceDetails[i].price %>
                                        </td>
                                        <td class="close-td first-row"><i class="ti-close" onclick="removeFromSession()"></i></td>
                                    </tr>

                                    <% } %>
                            </tbody>
                            <% } %>

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a href="/shop" class="primary-btn continue-shop">Continue shopping</a>
                                <a href="#" class="primary-btn up-cart">Update cart</a>
                            </div>
                            <div class="discount-coupon">
                                <h6>Discount Codes</h6>
                                <form action="#" class="coupon-form">
                                    <input type="text" placeholder="Enter your codes" disabled>
                                    <button type="submit" class="site-btn coupon-btn">Apply</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>
                                    <!-- <li class="subtotal">Subtotal <span>$240.00</span></li> -->
                                    <li class="cart-total">Total
                                        <span> #<%- session.totalPrice ? session.totalPrice : 0 %></span></li>
                                </ul>
                                
                                    <%if (cart == undefined) { %>
                                    <button type="submit" style="display: none;"><a href="/checkout" class="proceed-btn">PROCEED TO CHECK OUT</a></button>
                                    <% }else { %>
                                    <button type="submit"><a href="/checkout" class="proceed-btn">PROCEED TO CHECK OUT</a></button>

                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <%- include('../partials/footer.ejs', {}) %>
    <%- include('../partials/script.ejs', {}) %>
</body>
</body>

</html>