<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs', {title}) %>
<body>
  <%- include('../partials/loader.ejs', {}) %>
    <!-- header -->
    <%- include('../partials/header.ejs', {}) %>
    <!-- /header -->
    <%#- include('../partials/breadCrumbs.ejs', {}) %>

    <!-- shooping cart -->
    <section class="checkout-section spad">
      <div class="container">
        <form action="/paystackPay" method="post" class="checkout-form">
          <div class="row">
              <!-- billing details start -->
              <div class="col-lg-6">
                <div class="checkout-content">
                    <a href="/login" class="content-btn">Click Here To Login</a>
                </div>
                <h4>Biiling Details</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="fir">First Name<span>*</span></label>
                        <input type="text" id="fir" name="firstname" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="last">Last Name<span>*</span></label>
                        <input type="text" id="last" name="lastname" required>
                    </div>
                    <!-- <div class="col-lg-12">
                        <label for="cun-name">Company Name</label>
                        <input type="text" id="cun-name" >
                    </div> -->
                    <div class="col-lg-12">
                        <label for="cun">Country<span>*</span></label>
                        <input type="text" id="cun" name="country" value="Nigeria">
                    </div>
                    <div class="col-lg-12">
                        <label for="street">Street Address<span>*</span></label>
                        <input type="text" id="street" name="street1" class="street-first" required>
                        <input type="text" name="street2">
                    </div>
                    <div class="col-lg-12">
                        <label for="zip">Postcode / ZIP (optional)</label>
                        <input type="text"  name="postcode" id="zip">
                    </div>
                    <div class="col-lg-12">
                        <label for="town">Town / City<span>*</span></label>
                        <input type="text" name="town" id="town">
                    </div>
                    <div class="col-lg-6">
                        <label for="email">Email Address<span>*</span></label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="phone">Phone<span>*</span></label>
                        <input type="number" id="phone" name="phonenum" required> 
                    </div>
                    <div class="col-lg-6" hidden>
                        <label for="phone">Amount<span>*</span></label>
                        <input type="number" id="phone" name="amount" value="<%= session.totalPrice ? session.totalPrice : 0 %>" >  
                    </div>
                                     
                    <div class="col-lg-12">
                        <div class="create-item">
                            <label for="acc-create">
                                Create an account?
                                <input type="checkbox" id="acc-create">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
              <!-- billing details ends -->

              <!-- product ordered section start -->
              <div class="col-lg-6">
                <div class="checkout-content">
                    <input type="text" name='Coupon' placeholder="Enter Your Coupon Code">
                </div>
                <div class="place-order">
                    <h4>Your Order</h4>
                    <div class="order-total">
                        <ul class="order-table">
                            <li>Product <span>Total</span></li>
                            <% for (let i = 0; i < cart.length; i++) { %>
                            

                            
                            <li name="product" class="fw-normal"><%= cart[i].productName %>  x <%= priceDetails[i].qty %> <span> NGN <%= priceDetails[i].total %></span></li>
                            
                                <% } %>
                                <li class="total-price" name="amount"  >Total <span>NGN <%= session.totalPrice ? session.totalPrice : 0 %></span></li>

                        </ul>
                        <!-- <div class="payment-check">
                            <div class="pc-item">
                                <label for="pc-check">
                                    Cheque Payment
                                    <input type="checkbox" id="pc-check">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="pc-item">
                                <label for="pc-paypal">
                                    Paypal
                                    <input type="checkbox" id="pc-paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div> -->
                        <div class="order-btn">
                            <button type="submit" class="site-btn place-btn">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
              <!-- product ordered section ends -->
          </div>
        </form>                                                                                                                                                 
      </div>
      <!-- <a href="/cleanCart"> <button type="" class="site-btn place-btn">Place Order</button> </a> -->

    </section>
   

    <!-- /shooping cart section end -->

    <%- include('../partials/footer.ejs', {}) %>
    <%- include('../partials/script.ejs', {}) %>

</body>
</html>