<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs', {title}) %>

<body>
    <%#- include('../partials/loader.ejs', {}) %>
    <!-- header -->
    <%- include('../partials/header.ejs', {}) %>
    <!-- /header -->
    <!-- main -->
    <!-- ------------------------------------- -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <% for(var i =0; i < slider.length; ++i) { %>
            <div class="single-hero-items set-bg" data-setbg=" <%= slider[i].sliderImage %> ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span> <%- slider[i].sliderName %></span>
                            <h1 style="color: rgb(151, 145, 145);"> PHASH SUPPING</h1>
                            <p style="color: rgb(22, 19, 22); font-weight: bolder;"> <%- slider[i].text_on_slider %></p>
                            <a href="/shop" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Buy <span>now</span></h2>
                    </div>
                </div>
            </div>
            <% } %>
            <!-- <div class="single-hero-items set-bg" data-setbg="img/images.jpeg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>stylish clothes</span>
                            <h1>Phash Supping</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore</p>
                            <a href="/shop" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Order<span>now</span></h2>
                    </div>
                </div>
            </div> -->

            <!-- <div class="single-hero-items set-bg" data-setbg="img/large.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>stylish clothes</span>
                            <h1>Phash Supping</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore</p>
                            <a href="/shop" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3">
                    <div class="single-banner">
                        <img class="lozad" src="img/man.jpeg" alt="image">
                        <div class="inner-text">
                            <a href="/shop/men">
                                <h4>Men’s</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img class="lozad" src="/img/woman.jpeg" alt="cloth image">
                        <div class="inner-text">
                            <a href="/shop/women">
                                <h4>Women’s</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img class="lozad" src="img/kid.jpeg" alt="model image"> 
                        <div class="inner-text">
                           <a href="/shop/kids"> <h4>Kid’s</h4> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-banner">
                        <img class="lozad" src="img/shoe.jpg" alt="model image">
                        <div class="inner-text">
                           <a href="/shop/shoes"> <h4> Shoes </h4> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="img/bigbanner.jpeg">
                        <h2>Women’s</h2>
                        <a href="/shop/women">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Women Clothings</li>
                            <!-- <li>HandBag</li>
                            <li>Shoes</li>
                            <li>Accessories</li> -->
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <% for (var i = 0; i < result2.length; i++ ) { %>

                        <%- include('../component/productCard.ejs', {data: result2[i]}) %>

                        <% } %>

                        <!-- <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/kaliLInux.png" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Shoes</div>
                            <a href="#">
                                <h5>Guangzhou sweater</h5>
                            </a>
                            <div class="product-price">
                                $13.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/kaliLInux.png" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="#">
                                <h5>Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $34.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/kaliLInux.png" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="#">
                                <h5>Converse Shoes</h5>
                            </a>
                            <div class="product-price">
                                $34.00
                            </div>
                        </div>
                    </div> -->
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <!-- <section class="deal-of-week set-bg spad" data-setbg="img/time-bg.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Deal Of The Week</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                    consectetur adipisicing elit </p>
                <div class="product-price">
                    $35.00
                    <span>/ HanBag</span>
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="#" class="primary-btn">Shop Now</a>
        </div>
    </div>
</section> -->
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Men Clothings</li>
                            <!-- <li>HandBag</li>
                            <li>Shoes</li>
                            <li>Accessories</li> -->
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <% for (var i = 0; i < result.length; i++ ) { %>


                        <%- include('../component/productCard.ejs', {data: result[i]}) %>

                        <% } %>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large lozad" data-setbg="img/hoodie3.jpeg">
                        <h2>Men’s</h2>
                        <a href="/shop/men">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Man Banner Section End -->


    <!-- KIDS Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="img/kids.jpeg">
                        <h2>Kid’s</h2>
                        <a href="/shop/kids">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Kids Clothings</li>
                            <!-- <li>HandBag</li>
                        <li>Shoes</li>
                        <li>Accessories</li> -->
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <% for (var i = 0; i < result3.length; i++ ) { %>
                        <%- include('../component/productCard.ejs', {data: result3[i]}) %>

                        <% } %>


                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <section class="latest-blog spad">
        <div class="container">
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img class="lozad" data-src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all order over ₦5000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img class="lozad" data-src="img/icon-2.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img class="lozad" data-src="img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------- -->

    <!-- /main -->
    <%- include('../partials/footer.ejs', {}) %>
    <%- include('../partials/script.ejs', {}) %>
</body>

</html>
