<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Login'}) %>

<body>
    <%- include('../partials/loader.ejs', {}) %>

    <%- include('../partials/header.ejs', {pageName: 'Login'}) %>


    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="login-form leftline">
                        <h4 class="">Welcome back Login here</h4>
                        <form action="/login/members" method="POST">
                            <div class="group-input">
                                <label for="username"> email address *</label>
                                <input type="text" id="username" name="email">
                            </div>
                            <div class="group-input">
                                <label for="pass">Password *</label>
                                <input type="password" id="pass" name="password">
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <label for="save-pass">
                                        Save Password
                                        <input type="checkbox" id="save-pass">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a href="#" class="forget-pass">Forget your Password</a>
                                </div>
                            </div>
                            <button type="submit" class="site-btn login-btn">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a href="/register" class="or-login">Or Create An Account</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="login-form rightline text-center">
                        <h4>Create your Phashsupping account</h4>
                        <p>Create your Phashsupping customer account in just a few clicks! You can register either using your e-mail address or through your Facebook account.</p>
                        <form action="/register" method="">
                            <button type="submit" class="site-btn login-btn">CREATE ACCOUNT FREE</button>
                        </form>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->

    <%- include('../partials/footer.ejs', {}) %>
    <%- include('../partials/script.ejs', {}) %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script>
       let password = 'wrng password'
        if ('<%- passwordError %>') {
            swal({
                icon: "error",
                text: "<%=passwordError%>"
            })
        }

        if ('<%- LoginError %>') {
            swal({
                icon: 'error',
                text: '<%= LoginError %>'
            })
        }

    </script>
</body>

</html>