<header class="main-header">
    <div class="header-slide" style="background-color: #ffeacd;">
        <div class="container">
            <a href="#">
            <img src="https://ng.jumia.is/cms/Homepage/2020/Top-strip/0-Top-Strip-.gif"  class="_ni" alt="Stay Safe">
        </a>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    <a href="mailto:Phashsupping@hotmail.com"
                        style="text-decoration: none; color: black;">Phashsupping@hotmail.com</a>
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    <a href="tel:+2348167561712" style="text-decoration: none; color: black;">Phone: 08167561712 </a>
                </div>
            </div>
            <div class="ht-right">
                <div class="lan-selector">
                    <select class="language_drop" name="countries" id="countries" style="width:300px;">
                        <option value='yt' data-image="/img/flag-1.webp" data-imagecss="flag yt" data-title="English">
                            English</option>
                        <option value='yu' data-image="/img/flag-2.webp" data-imagecss="flag yu" data-title="Bangladesh">
                            German </option>
                    </select>
                </div>
                <div class="top-social">
                    <a href="facebook.com/phashsuppingng" target="_blank"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="https://www.instagram.com/phash_suppin_/?hl=en" target="_blank"><i
                            class="fa fa-instagram"></i></a>

                    <!-- <a href="#"><i class="ti-linkedin"></i></a> -->
                    <!-- <a href="#"><i class="ti-pinterest"></i></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row">

            <div class="col-md-4">
                <div class="logo">
                    <a href="/"><img src="/img/phashsupping-logo.png" width="40%" class="img-responsive" alt="logo"></a>
                </div> <!-- .logo -->
            </div>

            <div class="col-md-8">
                <a href="#" class="user-links-toggler"><i class="fa fa-bars"></i></a>
                <div class="user-links clearfix">
                    <!-- <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div> .social -->
                    <div class="account-links">
                        <a href="<%= authh  ? '/logout' : '/login' %> " class="login-panel"><i
                            class="fa fa-lock"></i><%= authh ? 'logout' : 'login' %> </a>
                    </div> <!-- .account-links -->
                    <div class="secondary-menu">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <a href="/about">About Us</a>
                        <a href="/contact">Contact Us</a>
                        <a href="/register" class="login-panel"><i class="fa fa-user" ></i> Register</a>
                    </div> <!-- .secondary-menu -->
                </div> <!-- .user-links -->
                <div class="mobile user-links clearfix">
                    <div class="secondary-menu">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <a href="/about">About Us</a>
                        <a href="/contact">Contact Us</a>
                        <a href="/register" class="login-panel"><i class="fa fa-user" ></i> Register</a>
                    </div> <!-- .secondary-menu -->
                    <div class="account-links">
                        <a href="<%= authh  ? '/logout' : '/login' %> " class="login-panel"><i
                            class="fa fa-lock"></i><%= authh ? 'logout' : 'login' %> </a>
                        
                    </div> <!-- .account-links -->
                    <!-- <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div> .social -->
                </div> <!-- .mobile.user-links -->
            </div>

        </div> <!-- .row -->
    </div> <!-- .container -->
</header> <!-- .main-header -->

<nav class="navigation">			
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-3">
                <div class="mainmenu">
                    <a href="#" class="menu-trigger">
                        <i class="fa dyna fa-bars"></i>
                        <span>Categories</span>
                        <i class="fa fa-caret-down"></i>
                    </a> <!-- .menu-trigger -->					
                </div> <!-- .mainenu -->
            </div>

            <div class="col-md-7 col-sm-6 col-xs-7">
                <div class="searchbar">
                    <form action="" method="get">
                        <input type="text" placeholder="Search your product here" class="input" name="q">
                        <button type="submit" class="button" value="Search"><i class="fa fa-search"></i></button>
                    </form>
                </div> <!-- .searchbar -->
            </div>

            <div class="col-sm-2 col-xs-2">
                <div class="cart-link">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span>My Cart</span> &nbsp; 
                        <i class="fa fa-angle-down" style="position: relative; bottom: 2px; font-size: 12px;"></i>
                    </a>
                    <div class="cart-box">
                        <ul class="item-list">
                            
                        </ul>
                        <div class="clearfix cart-summary">
                            <div class="summary-left">
                                <% if (session.sumOfQuantity) { %>
                                <span> <%- session.sumOfQuantity %> product(s) added </span>
                                <% } %>
                            </div>
                            <div class="summary-right">
                                ₦<%- session.totalPrice ? (session.totalPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') : '' %>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="/cart" class="button">View Cart</a>
                            <a href="/checkout" class="button ghost">Check Out</a>
                        </div>
                    </div> <!-- .cart-box -->
                </div> <!-- .cart-link -->
            </div>

        </div> <!-- .row -->
    </div> <!-- .container -->
        <div class="menu-wrapper" style="display: none;">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="title">
                                <img src="/img/women.png" alt="icon"> Womens Clothing & Accessories 
                            </div> <!-- .title -->
                            <ul class="linklist">
                                <li class="active"><a href="/shop/women">Clothing</a></li>
                                    <li><a href="/shop/women"> shoes </a></li>
                                    <li><a href="/shop/women"> caps</a></li>
                                    <li><a href="/shop/women"> glasses</a></li>
                                    <li><a href="/shop/women"> watches</a></li>
                                    <li><a href="/shop/women"> sandals</a></li>
                                    <li><a href="/shop/women"> sneakers</a></li>
                                    <li><a href="/shop/women"> kaftan</a></li>
                                    <li><a href="/shop/women"> perfumes</a></li>
                                <li><a href="/shop/women" class="alt"><strong>View All »</strong></a></li>
                            </ul> <!-- .linklist -->
                        </div> <!-- .menu-box -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="title">
                                <img src="/img/men.png" alt="icon"> Mens fashion
                            </div> <!-- .title -->
                            <ul class="linklist">
                                <li class="active"><a href="/shop/men">Clothing</a></li>
                                    <li><a href="/shop/men"> shoes </a></li>
                                    <li><a href="/shop/men"> caps</a></li>
                                    <li><a href="/shop/men"> glasses</a></li>
                                    <li><a href="/shop/men"> watches</a></li>
                                    <li><a href="/shop/men"> sandals</a></li>
                                    <li><a href="/shop/men"> sneakers</a></li>
                                    <li><a href="/shop/men"> kaftan</a></li>
                                    <li><a href="/shop/men"> perfumes</a></li>
                                <li><a href="/shop/men" class="alt"><strong>View All »</strong></a></li>
                            </ul> <!-- .linklist -->
                        </div> <!-- .menu-box -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="title">
                                <img src="/img/kid.png" alt="icon"> Kids fashion
                            </div> <!-- .title -->
                            <ul class="linklist">
                                <li class="active"><a href="/shop/kids">Clothing</a></li>
                                    <li><a href="/shop/kids"> shoes </a></li>
                                    <li><a href="/shop/kids"> caps</a></li>
                                    <li><a href="/shop/kids"> glasses</a></li>
                                    <li><a href="/shop/kids"> watches</a></li>
                                    <li><a href="/shop/kids"> sandals</a></li>
                                    <li><a href="/shop/kids"> sneakers</a></li>
                                    <li><a href="/shop/kids"> kaftan</a></li>
                                    <li><a href="/shop/kids"> perfumes</a></li>
                                <li><a href="/shop/kids" class="alt"><strong>View All »</strong></a></li>
                            </ul> <!-- .linklist -->
                        </div> <!-- .menu-box -->
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="menu_verticle_banner">
                                <img src="/img/banner-verticle.png" alt="banner"> 
                            </div> <!-- .banner -->
                        </div> <!-- .menu-box -->
                    </div>

                    

                    

                    

                </div> <!-- .row -->
            </div>
        </div> <!-- .menu-container -->
</nav> <!-- .navigation -->

<div class="container-fluid">
    <div class="content">
    </div>
</div>