<div class="product-item" style="max-height: 200vm;">
    <div class="pi-pic">
        <img class="lozad" data-src="<%= data.productImage1 %>" alt="<%= data.productName %>">
        <div class="sale">Sale</div>
        <div class="icon">
            <i class="icon_heart_alt"></i>
        </div>
        <ul>
            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
            <li class="quick-view"><a href="/products/<%= data._id %> ">+ Quick View</a></li>
            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
        </ul>
    </div>
    <div class="pi-text">
        <div class="catagory-name"><%= data.category %></div>
        <a href="/products/<%= data._id %>">
            <%= data.productName %>
        </a>
        <div class="product-price">
            ₦ <%= (data.productPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
            <!-- <span>$35.00</span> -->
            <span>
                 <%= (data.discountedPrice) ?  `₦ $(data.discountedPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')` : '' %>
            </span>
        </div>
    </div> 
</div>