<div class="form-group row">
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"><%= fieldlabel %></label>
    <div class="col-sm-10">
        <textarea name="<%= fieldname %>" class="form-control" id="<%= fieldname %>" cols="30" rows="5"><%= valueField %></textarea>
    </div>
</div>