<!DOCTYPE html>
<html lang="en">
<!-- <head> -->
    <%- include('./partials/head.ejs', {title}) %>

    
<!-- </head> -->
<body class="">
    <div class="wrapper">
        <%- include('./partials/sidebar.ejs', {}) %>

    <div class="main-panel">
            <!-- Navbar -->
            <%- include('./partials/navbar.ejs', {}) %>

            <!-- /Navbar -->

            <!-- content -->
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                <div class="card-body ">
                                  <div class="row">
                                    <div class="col-5 col-md-4">
                                      <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-globe text-warning"></i>
                                      </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                      <div class="numbers">
                                        <p class="card-category">Totoal Orders</p>
                                        <p class="card-title"> <%= result.length %>
                                          <p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer ">
                                  <hr>
                                  <div class="stats">
                                   <a href="/dashboard/orders"><i class="fa fa-refresh"></i> Check now </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                <div class="card-body ">
                                  <div class="row">
                                    <div class="col-5 col-md-4">
                                      <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-money-coins text-success"></i>
                                      </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                      <div class="numbers">
                                        <p class="card-category">Pending</p>
                                        <p class="card-title">20
                                          <p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer ">
                                  <hr>
                                  <div class="stats">
                                   <a href="/dashboard/orders"> <i class="fa fa-calendar-o"></i> Last day </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                <div class="card-body ">
                                  <div class="row">
                                    <div class="col-5 col-md-4">
                                      <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-vector text-danger"></i>
                                      </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                      <div class="numbers">
                                        <p class="card-category">delivered</p>
                                        <p class="card-title">23
                                          <p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer ">
                                  <hr>
                                  <div class="stats">
                                    <i class="fa fa-clock-o"></i> In the last hour
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                <div class="card-body ">
                                  <div class="row">
                                    <div class="col-5 col-md-4">
                                      <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-favourite-28 text-primary"></i>
                                      </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                      <div class="numbers">
                                        <p class="card-category">products</p>
                                        <p class="card-title"><%= result2.length %>
                                          <p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer ">
                                  <hr>
                                  <div class="stats">
                                    <i class="fa fa-refresh"></i> Update now
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
            <!-- /content -->

            <!-- footer -->
            <%- include('./partials/footer.ejs', {}) %>
            <!-- /footer -->
    </div>
</div>

    <%- include('./partials/script.ejs', {}) %>
</body>
</html>