<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title}) %>

<body class="">
    <div class="wrapper">
        <%- include('./partials/sidebar.ejs', {}) %>

        <div class="main-panel">
            <!-- Navbar -->
            <%- include('./partials/navbar.ejs', {}) %>

            <!-- /Navbar -->
            <!-- content -->
            <div class="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <h1 class="h2 rw">Edit Page Content: <span class="text-info">New Product</span></h1>
                </div>
                <form action="" method="post">
                    <%- include('./fields/text.ejs', {fieldname: 'productName', fieldlabel: 'Product Name', fieldplaceholder: 'PRODUCT NAME HERE', valueField: ''}) %>
                    <%- include('./fields/file.ejs', {fieldname: 'productImage1', fieldlabel: 'image front view', valueField: '' }) %>

                    <%- include('./fields/file', { fieldname: 'postImage', fieldlabel: 'Slider Image', valueField: ''}); %>

                </form>
            </div>
            <!-- <end of content> -->

            <!-- footer -->
            <%- include('./partials/footer.ejs', {}) %>

            <!-- /footer -->
        </div>
    </div>
    <%- include('./partials/script.ejs', {}) %>

</body>

</html>